.main {
    margin-left: 32px;
    margin-right: 32px;
}

.cartPage .myBag {

    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #1D1F22;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
}

.product_card_basket .img_block_basket .images_container {
    position: relative;
    margin-left: 15px;
    width: 200px;
    height: 228px;
    overflow: hidden;
}

.tax, .quantity, .total {
    color: #1D1F22;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 8px;
}

.tax span, .quantity span, .total span {
    color: #1D1F22;
    font-weight: 700;
    font-size: 24px;
}

.total {
    font-weight: 540;
}

.cartPage .total .price, .taxQuantityValue, .quantityValue {
    margin-left: 8px;
}

.cartPage .bottom {
    padding: 16px 0;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 32px;
}

.cartPage .bottom .buttons {
    padding-top: 8px;
    display: flex;
    width: 279px;
}

.cartTitle {
    margin-bottom: 50px;

}

.cartPage .bottom .buttons .checkout {
    border-style: none;
    background-color: #5ECE7B;
    color: #fff;
    width: 280px;
    height: 45px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;

}

/*.cartPage .bottom .buttons .clearCart {*/
/*    border: 2px solid #000;*/
/*    background-color: #fff;*/
/*}*/


.checkout:hover {
    cursor: pointer;
}

.product_quantity {
    color: #1D1F22;
    font-weight: 500;
    font-size: 24px;
    margin: 30px 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product_quantity button {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 3px;
    font-size: 20px;
}

.noProduct {
    text-align: center;
    color: #5ECE7B;
    margin-top: 50px;
}
.attributes .name_attributes {
    color: #1D1F22;
    font-weight: 700;
    font-size: 18px;
    margin: 16px 0 8px 0;
}

.attributes .product_attributes {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
}

.product_card_basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}

.cartPage .items .product_card_basket .product_description .product_price {
    margin: 12px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.product_card_basket .product_description .product_name {
    color: #1D1F22;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 16px;
}

.product_card_basket .img_block_basket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card_basket .img_block_basket .counter .plus, .product_card_basket .img_block_basket .counter .minus {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 1px solid #1D1F22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 45px;
}
