@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

body{
  font-family: Raleway;
  margin: 0;
  padding: 0;
  padding-top: 120px;

}
.product_attributes:last-child {
  margin-bottom: 0px;
}
.container {
  max-width: 1238px;
  margin: 0 auto;
}